[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

parts +=
    test
    code-analysis
    createcoverage

package-name = collective.saml2
package-extras = [test]
test-eggs =


[versions]
setuptools =
zc.buildout =
# configparser = 3.8.1
lxml = 4.2.6
dm.zope.saml2 = < 5.0.0

[versions:python27]
five.formlib = < 2.0
